*{
	text-decoration: none;
	list-style-type: none;
	font-family: Arial;
}

/*MENÚ*/
header img{
	display: inline;
	height: 50px;
	margin-top: 5px;
}

header nav{
	display: inline;
	float: right;
	padding: 19px;
}

header nav a {
	color: #B4B4B4;
	margin-left: 10px;
	margin-right: 10px;
	padding: 10px 25px;
}
header nav a:hover{
	background-color: gray;
	color: white;
}
/*end*/

/*Fondo - Section*/
.fondo{
	background-color: gray;
	color: white;
}
.fondo input{
	display: block;
	padding: 5px;
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
}
.fondo form{
	background-color: #B4B4B4;
	width: 250px;
	text-align: center;
	border-radius: 10px;
	padding: 15px;
	margin: 40px auto;
}
.fondo button{
	width: 100%;
	background-color: #3EB0F7;
	border: none;
	padding: 5px;
	color: white;
	cursor: pointer;
}